<mat-toolbar class="h-16" color="primary" layout="row">
    <mat-toolbar-row class="h-full">
        <ng-container *ngIf="backUrl | async; let url; else menu">
            <a mat-icon-button [routerLink]="url">
                <mat-icon>arrow_back</mat-icon>
            </a>
        </ng-container>
        <ng-template #menu>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </ng-template>
        <h4 class="ml-2">OIDC Management</h4>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav class="h-full" #sidenav mode="push">

        <!--
        <mat-card class="mat-elevation-z0" *ngIf="usuario">
            <mat-card-content>
                <div class="justify-content-center d-flex">
                    <h2 class="mat-h2">{{usuario.nombre}} {{usuario.apellido}}</h2>
                </div>
                <div class="justify-content-center d-flex">
                    <span>{{usuario.correo}}</span>
                </div>
            </mat-card-content>
        </mat-card>
        -->

        <mat-nav-list>

            <h3 mat-subheader>System</h3>

            <a mat-list-item id="linkHome" (click)="sidenav.close()" routerLink="./">
                <mat-icon matListIcon>home</mat-icon>
                <span mat-line>Home</span>
            </a>

            <a mat-list-item id="linkUsers" (click)="sidenav.close()" routerLink="./user-accounts">
                <mat-icon matListIcon>manage_accounts</mat-icon>
                <span mat-line>User Accounts</span>
            </a>

            <a mat-list-item id="linkServiceAccounts" (click)="sidenav.close()" routerLink="./service-accounts">
                <mat-icon matListIcon svgIcon="bot"></mat-icon>
                <span mat-line>Service Accounts</span>
            </a>

            <a mat-list-item id="linkGroups" (click)="sidenav.close()" routerLink="./groups">
                <mat-icon matListIcon>groups</mat-icon>
                <span mat-line>Groups</span>
            </a>

            <a mat-list-item id="linkAuthorities" (click)="sidenav.close()" routerLink="./authorities">
                <mat-icon matListIcon>label</mat-icon>
                <span mat-line>Authorities</span>
            </a>

            <a mat-list-item id="linkScopes" (click)="sidenav.close()" routerLink="./scopes">
                <mat-icon matListIcon>list</mat-icon>
                <span mat-line>Scopes</span>
            </a>

            <mat-divider></mat-divider>
            <h3 mat-subheader>Audit</h3>

            <a mat-list-item id="linkAuditEvents" (click)="sidenav.close()" routerLink="./audit-events">
                <mat-icon matListIcon>feedback</mat-icon>
                <span mat-line>Audit events</span>
            </a>

            <mat-divider></mat-divider>
            <h3 mat-subheader>User</h3>

            <a mat-list-item id="linkLogout" (click)="onLogout()">
                <mat-icon matListIcon>logout</mat-icon>
                <span mat-line>Log out</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content class="bg-red-50">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
