<div class="m-8">

    <mat-card class="mt-2 mb-4">

        <div class="w-full flex justify-between">
            <h1 class="title font-bold">User Accounts</h1>
    
            <button mat-mini-fab color="accent" class="col-span-1" (click)="createEntry()">
                <mat-icon>add</mat-icon>
            </button>
    
        </div>
    
        <div *ngIf="isLoading | async" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <div class="flex justify-start">
            <mat-icon>search</mat-icon>
            <span class="mat-h4">Search user account</span>
        </div>

        <div class="grid grid-cols grid-cols-12 gap-4">
            <mat-form-field class="col-span-12" appearance="fill">
                <input matInput name="username" [(ngModel)]="usernameSearch" placeholder="User name">
            </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <table mat-table class="w-full" [dataSource]="dataSource" matSort>

            <!-- ID -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Id.
                </mat-header-cell>
                <mat-cell *matCellDef="let userAccount">
                    {{ userAccount.id }}
                </mat-cell>
            </ng-container>

            <!-- User name -->
            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    User name
                </mat-header-cell>
                <mat-cell *matCellDef="let userAccount">
                    {{ userAccount.username }}
                </mat-cell>
            </ng-container>

            <!-- Cuenta activada -->
            <ng-container matColumnDef="enabled">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Enabled
                </mat-header-cell>
                <mat-cell *matCellDef="let userAccount">
                    <mat-icon *ngIf="userAccount.enabled">check</mat-icon>
                    <mat-icon *ngIf="!userAccount.enabled">close</mat-icon>
                </mat-cell>
            </ng-container>

            <!-- Edit -->
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let userAccount">
                    <button mat-icon-button matTooltip="Edit user" (click)="editEntry(userAccount)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Eliminar -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let userAccount">
                    <button mat-icon-button matTooltip="Delete user" (click)="deleteEntry(userAccount)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </mat-card>

</div>