<div class="w-full">
    <div class="flex justify-between">
        <h2 mat-dialog-title>
            Create service account
        </h2>

        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<mat-horizontal-stepper #stepper linear>

    <mat-step [stepControl]="primaryForm.control">

        <form #primaryForm="ngForm" autocomplete="off">

            <ng-template matStepLabel>
                Service account
            </ng-template>

            <mat-dialog-content>

                <div class="grid grid-cols-12 gap-2 py-2">

                    <mat-form-field class="col-span-12" appearance="fill">
                        <input matInput name="clientName" #clientNameForm="ngModel"
                            [(ngModel)]="serviceAccount.clientName" required placeholder="Name" autocomplete="none"
                            cdkFocusInitial>
                        <mat-error *ngIf="clientNameForm.hasError('required')">
                            Field is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-span-12" appearance="fill">
                        <textarea matInput name="description" #descriptionForm="ngModel"
                            [(ngModel)]="serviceAccount.clientDescription" placeholder="Description"
                            autocomplete="none"></textarea>
                    </mat-form-field>

                    <mat-form-field class="col-span-12 md:col-span-6" appearance="fill">
                        <input matInput name="clientId" #clientIdForm="ngModel" [(ngModel)]="serviceAccount.clientId"
                            required placeholder="Client identifier" autocomplete="none">
                        <mat-error *ngIf="clientIdForm.hasError('required')">
                            Field is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-span-12 md:col-span-6" appearance="fill">
                        <input matInput name="clientSecret" type="password" #clientSecretForm="ngModel"
                            [(ngModel)]="serviceAccount.clientSecret" required placeholder="Client secret (password)"
                            autocomplete="none">
                        <mat-error *ngIf="clientSecretForm.hasError('required')">
                            Field is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-span-12" appearance="fill">
                        <app-input-authorities name="authorities" #authoritiesForm="ngModel"
                            [(ngModel)]="serviceAccount.authorities" placeholder="Authorities"></app-input-authorities>
                    </mat-form-field>

                    <mat-form-field class="col-span-12 md:col-span-6" appearance="fill">
                        <mat-label>Client authentication methods</mat-label>
                        <mat-select name="clientAuthenticationMethods" #clientAuthenticationMethodsForm="ngModel"
                            [(ngModel)]="serviceAccount.clientAuthenticationMethods" multiple>
                            <mat-option *ngFor="let clientAuthenticationMethod of clientAuthenticationMethods"
                                [value]="clientAuthenticationMethod">
                                {{ clientAuthenticationMethodsNames[clientAuthenticationMethod] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-span-12 md:col-span-6" appearance="fill">
                        <mat-label>Authorization grant types</mat-label>
                        <mat-select name="authorizationGrantTypes" #authorizationGrantTypesForm="ngModel"
                            [(ngModel)]="serviceAccount.authorizationGrantTypes" multiple>
                            <mat-option *ngFor="let authorizationGrantType of authorizationGrantTypes"
                                [value]="authorizationGrantType">
                                {{ authorizationGrantTypesNames[authorizationGrantType] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-span-12" appearance="fill">
                        <app-input-tags name="tags" #tagsForm="ngModel" [(ngModel)]="serviceAccount.tags" placeholder="Tags (searchable)" autocomplete="none"></app-input-tags>
                    </mat-form-field>

                </div>

            </mat-dialog-content>

            <mat-dialog-actions class="grid grid-cols-12 flex justify-end gap-2">

                <div *ngIf="!creating" class="col-span-6 col-start-4 md:col-span-3 md:col-start-10">

                    <button class="w-full" mat-raised-button matStepperNext color="accent">
                        <span class="hidden md:inline">Next</span>
                        <mat-icon class="inline md:hidden">navigate_next</mat-icon>
                    </button>

                </div>

            </mat-dialog-actions>

        </form>

    </mat-step>

    <mat-step [stepControl]="redirectURIForm.control">

        <form #redirectURIForm="ngForm" autocomplete="off">

            <ng-template matStepLabel>
                Redirect URIs
            </ng-template>

            <mat-dialog-content>

                <div class="py-2">

                    <div class="w-full flex justify-center" *ngFor="let redirectUri of serviceAccount.redirectUris; let i = index; trackBy: trackByIdx">

                        <mat-form-field class="w-full" appearance="fill">
                            <input matInput name="redirectUri-{{i}}" #redirectURIInputForm="ngModel"
                                [(ngModel)]="serviceAccount.redirectUris[i]" required
                                placeholder="Redirect URI" autocomplete="none">
                            <mat-error *ngIf="redirectURIInputForm.hasError('required')">
                                Field is required
                            </mat-error>
                        </mat-form-field>

                        <button class="mt-2" mat-icon-button (click)="removeRedirectUri(i)">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>

                    <div class="w-full flex justify-center m-2">
                        <button mat-mini-fab (click)="addRedirectUri()" color="primary">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                </div>

            </mat-dialog-content>

            <mat-dialog-actions class="grid grid-cols-12 flex justify-end gap-2">

                <div *ngIf="!creating" class="col-span-6 md:col-span-3 md:col-start-7">

                    <button class="w-full" mat-raised-button matStepperPrevious color="accent">
                        <span class="hidden md:inline">Previous</span>
                        <mat-icon class="inline md:hidden">navigate_before</mat-icon>
                    </button>

                </div>

                <div *ngIf="!creating" class="col-span-6 md:col-span-3 md:col-start-10">

                    <button class="w-full" mat-raised-button matStepperNext color="accent">
                        <span class="hidden md:inline">Next</span>
                        <mat-icon class="inline md:hidden">navigate_next</mat-icon>
                    </button>

                </div>

            </mat-dialog-actions>

        </form>

    </mat-step>

    <mat-step [stepControl]="scopeForm.control">

        <form #scopeForm="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <ng-template matStepLabel>
                Scopes
            </ng-template>

            <mat-dialog-content>

                <app-input-scopes-table name="scopes" [(ngModel)]="serviceAccount.scopes"></app-input-scopes-table>

            </mat-dialog-content>

            <mat-dialog-actions class="grid grid-cols-12 flex justify-end gap-2">

                <div *ngIf="!creating" class="col-span-6 md:col-span-3 md:col-start-7">

                    <button class="w-full" type="submit" mat-raised-button color="accent">
                        <span class="hidden md:inline">Create</span>
                        <mat-icon class="inline md:hidden">done</mat-icon>
                    </button>

                </div>

                <div *ngIf="!creating" class="col-span-6 md:col-span-3 md:col-start-10">

                    <button class="w-full" mat-raised-button mat-dialog-close color="warn">
                        <span class="hidden md:inline">Cancel</span>
                        <mat-icon class="inline md:hidden">close</mat-icon>
                    </button>

                </div>

                <div class="col-span-12 flex justify-center" *ngIf="creating">
                    <mat-progress-spinner diameter="48" color="primary" mode="indeterminate"></mat-progress-spinner>
                </div>

            </mat-dialog-actions>

        </form>

    </mat-step>

</mat-horizontal-stepper>
